

body {
    background-color: #ecf0ed;
    background-image: url(../desktop.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
    
    
    
}



h1 {
    color: #6e716f;
    font-family: 'montserrat', sans-serif;
    font-size: 50px;
    padding-top: 300px;
    margin-bottom: 15px;
    

}

p {
    color: #262827;
    font-family: monospace;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: .15em;
    margin-bottom: 40px;

} 

.btn {
    background-color: rgba(117, 205, 183, 100);
    border-radius: 5px;
    color: #FFF;
    font-size: 1.2em;
    padding: 5px 10px;
    text-decoration: none;
    animation: openclose 5s ease-in-out infinite;
  
}

.btn:hover {
    background-color: rgba(110, 113, 111, 0.7);
}


.icons {
    list-style: none;
    padding-left: 0;
    margin-top: 130px;
}

.icons li {
    display: inline;
}

.icons a {
    color: rgba(117, 205, 183, 100);
    font-size: 23px;
}